@charset "UTF-8";

/*Estilo para telas*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: lightgray;
}

header > h1 {
    text-align: center;
}

menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: gray;
}

menu li{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px; margin-top: 0px;
    background-color: rgb(50, 50, 50);
    color: white;
}

article {
    width: 600px;
    margin: auto;
    display: block;
}

