@charset "UTF-8";

/* Configurações Gerais */

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 250, 223);
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #7423ff;
    padding: 10px;
}